version: "3.9"

services:
    backend:
        build:
            context: .
            dockerfile: .devcontainer/backend/Dockerfile
        container_name: fastapi-backend
        volumes:
            - ./backend:/workspace/backend
        working_dir: /workspace/backend
        command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload
        ports:
            - "8000:8000"
        depends_on:
            - db
        environment:
            - DATABASE_URL=${DATABASE_URL}

    db:
        image: postgres:16
        container_name: postgres-db
        restart: always
        environment:
            POSTGRES_USER: ${POSTGRES_USER}
            POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
            POSTGRES_DB: ${POSTGRES_DB}
        ports:
            - "${POSTGRES_PORT}:5432"
        volumes:
            - postgres-data:/var/lib/postgresql/data

    frontend:
        build:
            context: ./frontend
            dockerfile: ../.devcontainer/frontend/Dockerfile
        container_name: react-frontend
        working_dir: /workspace/frontend
        volumes:
            - ./frontend:/workspace/frontend
            - /workspace/frontend/node_modules
        ports:
            - "3000:3000"
        environment:
            - CHOKIDAR_USEPOLLING=${CHOKIDAR_USEPOLLING}

volumes:
    postgres-data:


